.pokemons {

   padding: 0;
   list-style: none;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr;
}

.separador {
   border: none; 
   height: 2px; 
   background-color: rgba(0, 0, 0, 0.15); 
   margin: 10px 0; 
}
.normal {
   background-color: #a6a877;
}

.grass {
   background-color: #77c850;
}

.fire {
   background-color: #ee7f30;
}

.water {
   background-color: #678fee;
}

.electric {
   background-color: #f7cf2e;
}

.ice {
   background-color: #98d5d7;
}

.ground {
   background-color: #dfbf69;
}

.flying {
   background-color: #a98ff0;
}

.poison {
   background-color: #a040a0;
}

.fighting {
   background-color: #bf3029;
}

.psychic {
   background-color: #f65687;
}

.dark {
   background-color: #725847;
}

.rock {
   background-color: #b8a137;
}

.bug {
   background-color: #a8b720;
}

.ghost {
   background-color: #6e5896;
}

.steel {
   background-color: #b9b7cf;
}

.dragon {
   background-color: #6f38f6;
}

.fairy {
   background-color: #f9aec7;
}


.pokemon {
   display: flex;
   flex-direction: column;
   margin: 0.5rem auto;
   min-width: 200PX;
   max-width: 230px;
   padding: 1rem;
   border-radius: 1rem;
}

.pokemon:hover {
   cursor: pointer;
}

.pokemon .number {
   color: #000;
   opacity: 0.3;
   text-align: right;
   font-size: 0.625rem;
}

.pokemon .name {
   color: #fff;
   text-transform: capitalize;
   margin-bottom: 0.25;
}

.pokemon .detail {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.pokemon .detail .types {
   padding: 0;
   margin: 0;
   list-style: none;
}

.pokemon .detail .types .type  {
   color: #fff;
   padding: 0.25rem 0.5rem;
   margin: 0.25rem 0;
   font-size: 0.625rem;
   border-radius: 1rem;
   filter: brightness(1.075);
   text-align: center;
}

.pokemon .detail img {
   max-width: 100%;
   height: 70px;
}

.pagination {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 1rem;
}

.pagination button {
   padding: .25rem .5rem;
   margin: .25rem 0;
   font-size: .625rem;
   color: #fff;
   background-color: #6c79db;
   border: none;
   border-radius: 1rem;
}

.pagination button:hover {
   cursor: pointer;
}

dialog {
   outline: none;
   border: none;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
   border-radius: 0.5rem;
   height: 600px;
   width: 300px;
}

dialog .head {
   margin: .25rem 0 0 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 0 0 5.25rem;
}


dialog .head button {
   padding: 0 0 0 0;
   outline: none;
   background-color: inherit;
   width: 1.75rem;
   height: 1.75rem;
   margin: 0 0 0 0;
   border-radius: .55rem;
   color: #000;
   opacity: .2;   
}

dialog div h2 {
   text-shadow: -2px -2px 5px #000, 2px 2px 5px #000;
   text-transform: capitalize;
   margin: 0 0 0 0;
   text-align: center;
   color: #fff;
}

.modalImg{
   display: block;
   margin: 1.5rem 0 0 3.5rem;
   height: 5rem;
   width: 10rem;
}

dialog .types{
   text-transform: capitalize;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 1rem 0 1rem 0;
   list-style: none;
}

dialog .types .type{
   box-shadow: 0 0 10px rgba(0, 0, 0, 1);
   color: #fff;
   padding: 0.25rem 0.5rem;
   margin: 0 0 0 .55rem;
   font-size: .8rem;
   border-radius: 1rem;
   filter: brightness(1.075);
   text-align: center;

}

.moves h3, .stats h3{
   text-shadow: -2px -2px 5px #000, 2px 2px 5px #000;
   text-transform: capitalize;
   margin: 1rem 0 .4rem 1rem;
   text-align: center;
   color: #fff;
}

.movesList, .statsList{
   list-style-type: none;
   text-align: center;
   padding: 0 0 .3rem 17px;
   text-transform: capitalize;
   color: #fff;
}

.movesList li, .statsList li{
   text-shadow: -2px -2px 5px #000, 2px 2px 5px #000;
   font-size: small;
   margin: 0 0 .2rem 0;
}


@media screen and (min-width: 380px) {
   .pokemons {
      grid-template-columns: 1fr 1fr;
   }

   .pokemon {
      min-width: 170PX;
      max-width: 230px;
      margin: 0.5rem
   }
}

@media screen and (min-width: 576px) {
   .pokemons {
      grid-template-columns: 1fr 1fr 1fr;
   }
}

@media screen and (min-width: 992px) {
   .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }

}